html,
body,
header,
#intro {
    height: 100%;
}

body{
    padding-top: 56px;
    background: fixed center no-repeat url("../img/bg-6.jpg");
}

html{
    height: 100%;
}

footer{
    color: #f8f9fa;
}

.greyscale{
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
}

div h2{
    margin-top: -4%;
    margin-bottom: 1%
}

img[src ^="img/preview"] {
    border-radius: 12px;
    margin-bottom: 1%;
}

section{
    color: black;
    background: rgb(232,219,194);
    background: radial-gradient(circle, rgba(232,219,194,0.9868989832261029) 58%, rgba(255,239,204,0.9840978627779237) 89%);
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    border-radius: 3px;
}

article{
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    border-radius: 3px;
}

section h2{
    margin-left: 1%;
    margin-top: 0.5%;
    text-align: center;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.8px;
    border-color: black;
}

#contentsHeader{
    text-align: left;
    border-bottom:1px solid #000000;
    width: 98%;
    margin-left: 1%;
    margin-top: 0.5%;
}

.rounded{
    margin-top: 3%;
    margin-bottom: 3%;
}

.intro {
    background: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landingtext{
    padding: 15%;
    text-align: center;
}

.landingtext div p{
    font-size: x-large;
}

.card{
    width: 100%;
    height: 95%;
    color: black;
    background: rgb(232,219,194);
    background: radial-gradient(circle, rgba(232,219,194,0.9868989832261029) 58%, rgba(255,239,204,0.9840978627779237) 89%);    
    margin-top: 4%;
    margin-bottom: 5%;
    -webkit-box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75)
}

.card-img-top{
    border-radius: 0px;
}

.jumbotron{
    background: none;
}

.fade {
    opacity: 1;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

.fade:hover {
    opacity: 0.8;
}
